<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<servlet>
		<servlet-name>login</servlet-name>
		<serlvet-class>org.dxl.servlet.LoginServlet</serlvet-class>
	</servlet>
	<servlet-mapping>
		<serlvet-name>login</serlvet-name>
		<url-pattern>/login</url-pattern>
		<url-pattern>/log</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>register</servlet-name>
		<serlvet-class>org.dxl.servlet.RegisterServlet</serlvet-class>
	</servlet>
	<servlet-mapping>
		<serlvet-name>register</serlvet-name>
		<url-pattern>/reg</url-pattern>
		<url-pattern>/register</url-pattern>
		<url-pattern>/regis</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>favicon</servlet-name>
		<serlvet-class>org.dxl.servlet.FaviconServlet</serlvet-class>
	</servlet>
	<servlet-mapping>
		<serlvet-name>favicon</serlvet-name>
		<url-pattern>/favicon.ico</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>downLoad</servlet-name>
		<serlvet-class>org.dxl.servlet.DownAndOpenServlet</serlvet-class>
	</servlet>
	<servlet-mapping>
		<serlvet-name>downLoad</serlvet-name>
		<url-pattern>/downLoad</url-pattern>
	</servlet-mapping>
</web-app>